<%= form_for(@clip) do |f| %>
  <% if @clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
      <% @clip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p>
      <%= Clip.column_names %>
    </p>
  </div>
  <div class="field">
    <%= f.label :vidurlpath %><br>
    <%= f.text_field :vid_url_path %>
  </div>
  <div class="field">
    <%= f.label :eng_subs_url_path %><br>
    <%= f.text_field :eng_subs_url_path %>
  </div>
  <div class="field">
    <%= f.label :kor_subs_url_path %><br>
    <%= f.text_field :kor_subs_url_path %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
