<h1>Listing clips</h1>

<table>
  <thead>
    <tr>
      <th>VidUrlPath</th>
      <th>EngSubsUrlPath</th>
      <th>KorSubsUrlPath</th>
      <th>Level</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clips.each do |clip| %>
      <tr>
        <td><%= clip.vid_url_path %></td>
        <td><%= clip.eng_subs_url_path %></td>
        <td><%= clip.kor_subs_url_path %></td>
        <td><%= clip.title %></td>
        <td><%= clip.description %></td>
        <td><%= link_to 'Show', clip %></td>
        <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
        <td><%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clip', new_clip_path %>
