<p id="notice"><%= notice %></p>
	id:<%=Clip.find(1).vid_url_path %>
	<%= Clip.column_names %>
<p>
  <strong>VidUrlPath:</strong>
  <%= @clip.vid_url_path %>
</p>

<p>
  <strong>EngSubsUrlPath:</strong>
  <%= @clip.eng_subs_url_path %>
</p>

<p>
  <strong>KorSubsUrlPath:</strong>
  <%= @clip.kor_subs_url_path %>
</p>

<p>
  <strong>Level:</strong>
  <%= @clip.level %>
</p>

<p>
  <strong>Title:</strong>
  <%= @clip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @clip.description %>
</p>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
