<div class="go-left">
	<ul class="cat-holder-hor cats">
		<li>
			<%= link_to image_tag('/assets/cat-icons/burger-y.png'), :action => :refresh_clips, :remote => true, :uCat => 1, :uLevel => @uLevel %>
		</li>
		<li class="active">
			<%= link_to image_tag('/assets/cat-icons/bus-b.png'), :action => :refresh_clips, :remote => true, :uCat => 2, :uLevel => @uLevel %>
		</li>
		<li>
			<%= link_to image_tag('/assets/cat-icons/cart-y.png'), :action => :refresh_clips, :remote => true, :uCat => 3, :uLevel => @uLevel %>
		</li>
		<li>
			<%= link_to image_tag('/assets/cat-icons/heart-y.png'), :action => :refresh_clips, :remote => true, :uCat => 4, :uLevel => @uLevel %>
		</li>
		<li>
			<%= link_to image_tag('/assets/cat-icons/phone-y.png'), :action => :refresh_clips, :remote => true, :uCat => 5, :uLevel => @uLevel %>
		</li>
		<li>
			<%= link_to image_tag('/assets/cat-icons/speech-y.png'), :action => :refresh_clips, :remote => true, :uCat => 6, :uLevel => @uLevel %>
		</li>
	</ul>
</div>