<!DOCTYPE html>
<html>
<head>
  <title>Bakpagi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<%= render "layouts/modal" %>
<div class="wrapper">
	<div class="right-bg"></div>
	<div class="inner-wrapper">
	<div class="left-col">
		<img id='logo' src="/assets/logo-meh.png"/>
		<div class="logo-wrapper">
			<div class="go-left">
			</div>
			<div class="go-left brown-me"></div>
			<div class="clear-me"></div>
		</div>
		<%= render "layouts/leftsec" %>
		<div id="cat-wrapper" class="go-left">
			<%= render "layouts/cats" %>
		</div>
		<div class="clearme"></div>
	</div>
	<div class="right-col">
		<div class="content">

			<%= render 'layouts/cols' %>

			<div class="clearme"></div>
		</div>
	</div>
	<div class="clearme"></div>

		<!--
		<%= render "layouts/leftsec" %>
		<div class="content">
			<%= render "layouts/cats" %>
			<div class="inner-content">
				<%= yield %>
			</div>
			<div class="clearme"></div>
		</div>
		-->
	</div>
</div>

</body>
</html>

